body{
    background-color:hsl(212, 45%, 89%);
    text-align: center;
}
.qr-box{
    background-color:  hsl(0, 0%, 100%);
    margin : 100px auto 0px;
    width: 250px;
    padding: 13px 13px 20px;
    border-radius: 15px;
}
.qr-code {
    width: 250px; 
    border-radius:  10px; 
}
.para-head{
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}
.para-body{
    color:hsl(220, 15%, 55%);
    font-family:'Outfit', sans-serif;
    font-weight: 700;
    font-size:0.7rem;
}
.text{
    padding: 2%;
     
}

.attribution {
    margin-top: 50px;
}
